coverage
docutils
flake8
flake8-coding
flake8-commas
flake8-comprehensions
flake8-tidy-imports
futures<3.2.0
isort
mariadb-dyncol
mock
multilint
mysqlclient
parameterized
pygments
pytest
pytest-django
pytest-flake8dir
pytest-randomly
pytest-super-check
pytz
sqlparse
