backports.unittest_mock
coverage
docutils
flake8
flake8-coding
flake8-comprehensions
flake8-tidy-imports
isort
mariadb-dyncol
mock
multilint
mysqlclient
parameterized
pygments
pytest
pytest-django
pytest-flake8dir
pytest-super-check
pytz
sqlparse
