black ; python_version == '3.7.*'
coverage
django
docutils
flake8
flake8-bugbear
flake8-comprehensions
flake8-tidy-imports
isort
mariadb-dyncol
multilint
mysqlclient
parameterized
pygments
pytest
pytest-django
pytest-flake8dir
pytest-randomly
pytest-super-check
pytz
sqlparse
twine
