backports.unittest_mock
configparser
coverage
docutils
enum34
flake8
funcsigs
mariadb-dyncol
mock
mysqlclient
nose-parameterized
pbr
py
pycodestyle
pyflakes
pytest
pytest-django
pytest-super-check
six
sqlparse
