name: CI

on:
  push:
    branches:
    - main
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.database }} Python ${{ matrix.python-version }}
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.7
        - 3.8
        - 3.9
        - '3.10'
        - '3.11'
        database:
        - mysql:5.7
        - mysql:8.0
        - mariadb:10.3
        - mariadb:10.4
        - mariadb:10.5
        - mariadb:10.6
        - mariadb:10.7
        - mariadb:10.8

    services:
      database:
        image: ${{ matrix.database }}
        env:
          MYSQL_ROOT_PASSWORD: hunter2
        ports:
        - 3306:3306
        options: --tmpfs /var/lib/mysql

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PASSWORD: hunter2

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
        cache-dependency-path: 'requirements/*.txt'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install --upgrade 'tox>=4.0.0rc3'

    - name: Install percona-toolkit
      run: |
        sudo apt-get update
        sudo apt-get install -y percona-toolkit

    - name: Run tox targets for ${{ matrix.python-version }}
      run: tox run -f py$(echo ${{ matrix.python-version }} | tr -d .)

    - name: Upload coverage data
      uses: actions/upload-artifact@v3
      with:
        name: coverage-data
        path: '.coverage.*'

  coverage:
    name: Coverage
    runs-on: ubuntu-22.04
    needs: tests
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: python -m pip install --upgrade coverage[toml]

      - name: Download data
        uses: actions/download-artifact@v3
        with:
          name: coverage-data

      - name: Combine coverage and fail if it's <100%
        run: |
          python -m coverage combine
          python -m coverage html --skip-covered --skip-empty
          python -m coverage report --fail-under=100

      - name: Upload HTML report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v3
        with:
          name: html-report
          path: htmlcov
