name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-18.04

    strategy:
      matrix:
        python-version:
        - 3.5
        - 3.6
        - 3.7
        - 3.8
        database:
        - mysql:5.6
        # - mysql:5.7
        # - mariadb:5.5
        - mariadb:10.0
        # - mariadb:10.1
        # - mariadb:10.2
        # - mariadb:10.3
        # - mariadb:10.4

    services:
      database:
        image: ${{ matrix.database }}
        ports:
        - 3306:3306
        env:
          MYSQL_USER: runner
          MYSQL_PASSWORD: hunter2
          MYSQL_ROOT_PASSWORD: hunter2

    env:
      DB_HOST: 127.0.0.1
      DB_USER: runner
      DB_PASSWORD: hunter2

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Upgrade packaging tools
      run: python -m pip install --upgrade pip setuptools virtualenv
    - name: Install percona-toolkit
      run: apt install -y percona-toolkit
    - name: Install dependencies
      run: python -m pip install --upgrade coveralls tox tox-gh-actions
    - name: Run tox targets for ${{ matrix.python-version }}
      run: python -m tox
    - name: Upload coverage
      run: |
        coverage combine
        coveralls --rcfile=setup.cfg
