name: CI

on:
  push:
    branches:
    - main
    tags:
    - '**'
  pull_request:

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    name: ${{ matrix.database }} Python ${{ matrix.python-version }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - '3.9'
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        database:
        - mysql:9.4
        - mysql:8.4
        - mariadb:12.0
        - mariadb:11.8
        - mariadb:11.4
        - mariadb:10.11
        - mariadb:10.6

    services:
      database:
        image: ${{ matrix.database }}
        env:
          MYSQL_ROOT_PASSWORD: hunter2
        ports:
        - 3306:3306
        options: --tmpfs /var/lib/mysql

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PASSWORD: hunter2

    steps:
    - uses: actions/checkout@v5

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install dependencies
      run: uv pip install --system tox tox-uv

    - name: Install percona-toolkit
      run: |
        sudo apt-get update
        sudo apt-get install -y percona-toolkit

    - name: Run tox targets for ${{ matrix.python-version }}
      run: tox run -f py$(echo ${{ matrix.python-version }} | tr -d .)

    - name: Format database identifier
      run: |
        DB=${{ matrix.database }}
        echo "db_id=${DB//:/-}"
        echo "db_id=${DB//:/-}" >> "$GITHUB_OUTPUT"
      id: format_db_id

    - name: Upload coverage data
      uses: actions/upload-artifact@v5
      with:
        name: coverage-data-${{ matrix.python-version }}-${{ steps.format_db_id.outputs.db_id }}
        path: '${{ github.workspace }}/.coverage.*'
        include-hidden-files: true
        if-no-files-found: error

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs: tests
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv pip install --system coverage[toml]

      - name: Download data
        uses: actions/download-artifact@v6
        with:
          path: ${{ github.workspace }}
          pattern: coverage-data-*
          merge-multiple: true

      - name: Combine coverage and fail if it's <100%
        run: |
          python -m coverage combine
          python -m coverage html --skip-covered --skip-empty
          python -m coverage report --fail-under=100
          echo "## Coverage summary" >> $GITHUB_STEP_SUMMARY
          python -m coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

      - name: Upload HTML report
        if: ${{ failure() }}
        uses: actions/upload-artifact@v5
        with:
          name: html-report
          path: htmlcov

  release:
    needs: [coverage]
    if: success() && startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    environment: release

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7

      - name: Build
        run: uv build

      - uses: pypa/gh-action-pypi-publish@release/v1
