name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  tests:
    name: ${{ matrix.database }} Python ${{ matrix.python-version }}
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        database:
        - mysql:5.6
        - mysql:5.7
        - mysql:8.0
        - mariadb:10.1
        - mariadb:10.2
        - mariadb:10.3
        - mariadb:10.4
        - mariadb:10.5

    services:
      database:
        image: ${{ matrix.database }}
        env:
          MYSQL_ROOT_PASSWORD: hunter2
        ports:
        - 3306:3306
        volumes:
        - type=tmpfs,destination=/var/lib/mysql

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PASSWORD: hunter2
      COVERALLS_REPO_TOKEN: 7l8yKtg4su0M31T0eGIaM0tnjvH0Rd5PM

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Upgrade packaging tools
      run: python -m pip install --upgrade pip setuptools virtualenv
    - name: Install percona-toolkit
      run: |
        sudo apt-get update
        sudo apt-get install -y percona-toolkit
    - name: Install dependencies
      run: python -m pip install --upgrade codecov tox
    - name: Run tox targets for ${{ matrix.python-version }}
      run: |
        ENV_PREFIX=$(tr -C -d "0-9" <<< "${{ matrix.python-version }}")
        TOXENV=$(tox --listenvs | grep "^py$ENV_PREFIX" | tr '\n' ',') python -m tox
    - name: Upload coverage
      run: |
        coverage combine
        codecov
