name: CI

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  tests:
    name: ${{ matrix.database }} Python ${{ matrix.python-version }}
    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        python-version:
        - 3.6
        - 3.7
        - 3.8
        - 3.9
        database:
        - mysql:5.6
        - mysql:5.7
        - mysql:8.0
        - mariadb:10.1
        - mariadb:10.2
        - mariadb:10.3
        - mariadb:10.4
        - mariadb:10.5

    services:
      database:
        image: ${{ matrix.database }}
        env:
          MYSQL_ROOT_PASSWORD: hunter2
        ports:
        - 3306:3306
        volumes:
        - type=tmpfs,destination=/var/lib/mysql

    env:
      DB_HOST: 127.0.0.1
      DB_USER: root
      DB_PASSWORD: hunter2

    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/*.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install --upgrade codecov setuptools tox tox-py

    - name: Install percona-toolkit
      run: |
        sudo apt-get update
        sudo apt-get install -y percona-toolkit

    - name: Run tox targets for ${{ matrix.python-version }}
      run: tox --py current

    - name: Upload coverage
      run: |
        coverage combine
        codecov
